:root {
    --grid-side: 4;
    --grid-color: #242629;
    --pen-color: #000000;
    --background-color: #16161a;
    --default-paint: #000000;
    --roundness: 20px;
    --grid-size: 80vh;

    /* #7f5af0 */
    --text-color: #5841b7;
    --button-text-color: #020826;
    --text-color-active: #5841b7;
    --button-background: #5841b7;
    --button-background-active: #020826;
    --button-border: #020826;
    --button-padding: 12px;

    --header-and-footer: #272343;
}

body {
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    background-color: var(--background-color);
    display: grid;
    grid-template-areas:
        "header header header"
        "blank main sidebar"
        "footer footer footer";
    grid-template-columns: 1fr var(--grid-size) 1fr;
    grid-template-rows: 8vh 87vh 5vh;
}

header,
footer {
    background-color: var(--header-and-footer);
}

header {
    padding: 0px 5px;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 8vh;
}

.buttons {
    width: var(--grid-size);
    display: flex;
    justify-content: space-between;
}

.left-blank {
    grid-area: blank;
}

main {
    color: var(--text-color);
    text-align: center;
    font-family: Kanit;
    font-weight: 400;
    font-size: 16px;
}

header button {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 16px;
    height: 4vh;
    border-radius: 0px;
    border: 2px solid var(--button-border);
    box-shadow: none;
    margin: 0px -4px;
}

button {
    font-family: Kanit;
    font-weight: 400;
    font-size: 14px;

    color: var(--button-text-color);
    padding: 6px var(--button-padding);
    border: 0px solid var(--button-text-color);
    border-radius: 9px;
    background-color: var(--button-background);
    box-shadow: 2px 2px 5px #000000;
    transition: background-color 0.1s ease;
}

button.active,
button:active {
    color: var(--text-color-active);
    background-color: var(--button-background-active);
    box-shadow: none;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: var(--text-color);
    font-family: Kanit;
    font-weight: 400;
    font-size: 16px;
}

.github-profile {
    align-self: center;
    height: 25px;
    filter: brightness(0%) saturate(100%) invert(26%) sepia(35%) saturate(3587%)
        hue-rotate(236deg) brightness(88%) contrast(90%);
}
